<h3>Ваш номер заказа: {$order_id}</h3>
<table style="width: 100%;text-align: left;">
    <tbody>
        <tr>
            <td valign="top" style="text-align:left;">
                Вам необходимо произвести платеж в любой системе, позволяющей проводить оплату через ЕРИП (пункты банковского обслуживания, банкоматы, платежные терминалы, системы интернет-банкинга, клиент-банкинга и т.п.).
                <br/>
                <br/> 1. Для этого в перечне услуг ЕРИП перейдите в раздел: <br />
                <b>{$erip_path}</b><br/>
                <br/>2. В поле "Номер заказа" введите <b>{$order_id}</b> и нажмите "Продолжить"<br/>
                <br/>3. Совершить платеж.<br />
            </td>
        </tr>
    </tbody>
</table>